@using Belletrix.Entity.Model;
@using System.Web.Mvc;

@helper DisplayCountryFlag(CountryModel country)
{
    UrlHelper url = new UrlHelper(Request.RequestContext);

    switch (country.Abbreviation)
    {
        case "": // Anywhere
        case "XAS": // Asia
        case "XAF": // Africa
        case "XLA": // Latin America
        case "XES": // English-speaking
        case "XSS": // Spanish-speaking
            @country.Name
            break;

        default:
            <img src="@url.Content("~/Content/images/blank.gif")"
                class="flag flag-@country.Abbreviation.ToLower()"
                aria-hidden="true"
                alt="@country.Name" title="@country.Name" />
            @*
            This hidden SPAN is there purely to provide something for the
            table sorter to use. Removing it breaks sorting.
            *@
            <span class="sr-only">@country.Name</span>
            break;
    }
}

@helper RenderAnalyticsTag(string username = null)
{
    if (Request.IsLocal)
    {
        return;
    }

    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(["setDomains", ["*.belletrix.org"]]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);

        @if (!string.IsNullOrEmpty(username))
        {
            <text>_paq.push(['setCustomVariable', '1', 'username', '@username']);</text>
        }

        (function () {
            var u="//analytics.belletrix.org/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '17']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <noscript><p><img src="//analytics.belletrix.org/piwik.php?idsite=17" style="border:0;" alt="" /></p></noscript>
}
