@using Belletrix.Entity.Model;

@model PromoModel

@{
    ViewBag.Title = "Info";
    UriBuilder landingPage = new UriBuilder()
    {
        Scheme = "https",
        Host = Request.Url.Host,
        Path = Url.Action("Entry")
    };
    
    if (Request.IsLocal)
    {
        landingPage.Scheme = "http";
        landingPage.Port = Request.Url.Port;
    }
}

@section Body {
    <div class="jumbotron">
        <p class="lead">
            The details to the promotional form <code>@Model.Code</code>
            landing page are listed below. You can get back to this page at
            any time by going to the @Html.ActionLink("promos list page", "List")
            and clicking on the code.
        </p>

        <dl class="dl-horizontal">
            <dt>URL:</dt>
            <dd>@landingPage.Uri</dd>
            <dt>Code:</dt>
            <dd>@Model.Code</dd>
        </dl>

        <p>To continue to the landing page now, click the following:</p>

        <p>
            <a class="btn btn-lg btn-success" role="button" href="@landingPage.Uri">Go To the Landing Page</a>
        </p>
    </div>
}
