@using Belletrix.Entity.Model;
@using Belletrix.Entity.ViewModel;

@model PromoViewModel

@{
    ViewBag.Title = "Info";
}

@section FooterScript {
    <script>
        $(function () {
            $('#studentlist').dataTable({
                columns: [
                    null,
                    null,
                    { orderable: false }
                ]
            });
        });
    </script>
}

@section Body {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @Model.Description
                <small>(@Model.Code)</small>
                <a href="@Url.Action("Edit", "Promo", new { id = Model.Id })"
                    class="btn btn-xs btn-info pull-right" data-placement="top"
                    title="Edit"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
            </h1>
            <p>
                <span class="glyphicon glyphicon-time"></span>
                Created @Model.Created by @Model.CreatedByFirstName @Model.CreatedByLastName
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Promo code <code>@Model.Code</code></p>

                    @if (Model.PublicToken.HasValue)
                    {
                        UriBuilder landingPage = new UriBuilder()
                        {
                            Scheme = Request.Url.Scheme,
                            Host = Request.Url.Host,
                            Path = Url.Action("Entry", new { token = Model.PublicToken.Value })
                        };

                        if (Request.IsLocal)
                        {
                            landingPage.Port = Request.Url.Port;
                        }

                        <p>
                            Direct link without code:
                            @Html.ActionLink(landingPage.ToString(), "Entry", new { token = Model.PublicToken.Value })
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            @if (Model.TotalStudents > 0)
            {
                <table id="studentlist" class="table table-bordered table-hover table-striped tablesorter table-condensed">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Created</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (StudentModel student in Model.Students)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("View", "Student", new { id = student.Id })">@student.LastName, @student.FirstName @student.MiddleName</a>
                                </td>
                                <td>@student.Created</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="@Url.Action("Edit", "Student", new { id = student.Id })"
                                           class="studentlisttooltop btn btn-xs btn-info" data-placement="top"
                                           title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>

@*
    <div class="jumbotron">
        <p class="lead">
            The details to the promotional form <code>@Model.Code</code>
            landing page are listed below. You can get back to this page at
            any time by going to the @Html.ActionLink("promos list page", "List")
            and clicking on the code.
        </p>

        <dl class="dl-horizontal">
            <dt>URL:</dt>
            <dd>@landingPage.Uri</dd>
            <dt>Code:</dt>
            <dd>@Model.Code</dd>
        </dl>

        @if (Model.PublicToken.HasValue)
        {
            <dl class="dl-horizontal">
                <dt>URL:</dt>
                <dd>@landingPage.Uri</dd>
            </dl>
        }

        <p>To continue to the landing page now, click the following:</p>

        <p>
            <a class="btn btn-lg btn-success" role="button" href="@landingPage.Uri">Go To the Landing Page</a>
        </p>
    </div>
*@
}
