@using Belletrix.Core;
@using Belletrix.Entity.ViewModel;

@model IEnumerable<PromoViewModel>

@{
    ViewBag.Title = "List";
}

@section FooterScript {
    <script>
        $(function () {
            $('#promolist').dataTable();
        });
    </script>
}

@section Body {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Promos
                <small>
                    <span class="pull-right small">
                        <a href="@Url.Action("Add", "Promo")"><i class="glyphicon glyphicon-plus-sign"></i> Create New Promo</a>
                    </span>
                </small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <p>
                Promos allow you to create student entry forms which talored
                for students to fill out. These pages do not require logging
                in. Please separate events into their own promos.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table id="promolist" class="table table-bordered table-hover table-striped tablesorter table-condensed">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Creator</th>
                        <th>Created</th>
                        <th>Description</th>
                        <th>Students</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PromoViewModel promo in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(promo.Code, "Info", new { id = promo.Id })</td>
                            <td>@promo.CreatedByFirstName @promo.CreatedByLastName</td>
                            <td>@DateTimeFilter.UtcToLocal(promo.Created)</td>
                            <td>@promo.Description</td>
                            <td>
                                @if (promo.Students > 0)
                                {
                                    @Html.ActionLink(promo.Students.ToString("N0"), "Students", new { id = promo.Id })
                                }
                            </td>
                            <td>
                                @if (promo.IsActive)
                                {
                                    <i class="glyphicon glyphicon-ok"></i>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
