@using Belletrix.Entity.ViewModel;

@model IEnumerable<PromoViewModel>

@{
    ViewBag.Title = "Promos";
}

@section FooterScript {
    <script>
        $(function () {
            new Belletrix.Promo().initPromoList('#promolist', '@Url.Action("Delete", "Promo")', 'promoid');
        });
    </script>
}

@section Body {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Promos
                <small>
                    <span class="pull-right small">
                        <a href="@Url.Action("Add", "Promo")"><i class="glyphicon glyphicon-plus-sign"></i> Create New Promo</a>
                    </span>
                </small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <p>
                Promos allow you to create student entry forms which talored
                for students to fill out. These pages do not require logging
                in. Please separate events into their own promos.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table id="promolist" class="display table-condensed">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Created</th>
                        <th>Students</th>
                        <th>Active</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PromoViewModel promo in Model)
                    {
                        string totalStudentsClass = promo.TotalStudents == 0 ? "text-muted" : null;
                        <tr>
                            <td>
                                @Html.ActionLink(promo.Description, "Info", new { id = promo.Id })
                            </td>
                            <td data-order="@promo.Created.ToString("yyyy-MM-dd")">
                                <span data-toggle="tooltip"
                                    title="@promo.Created by @promo.CreatedByFirstName @promo.CreatedByLastName">
                                    @promo.Created.ToShortDateString()
                                </span>
                            </td>
                            <td><span class="@totalStudentsClass">@promo.TotalStudents</span></td>
                            <td>
                                @if (promo.Active)
                                {
                                    <i class="glyphicon glyphicon-ok"></i>
                                }
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a href="@Url.Action("Edit", "Promo", new { id = promo.Id })"
                                       class="btn btn-xs btn-info" data-placement="top"
                                       title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>

                                    @if (promo.CanDelete)
                                    {
                                        <button type="button" class="btn btn-xs btn-danger promo-list-delete"
                                            data-promoid="@promo.Id">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
