@using Belletrix.Entity.Model;

@model IEnumerable<StudentModel>

@{
    ViewBag.Title = String.Format("{0} ({1})", ViewBag.Promo.Description, ViewBag.Promo.Code);
}

@section FooterScript {
    <script>
        $(function () {
            $('#studentlist').dataTable();
        });
    </script>
}

@section Body {
    <div class="row">
        <div class="col-lg-12">
            <h1>@ViewBag.Title <small>@Model.Count().ToString("N0") total</small></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("List", "Promo")"><i class="glyphicon glyphicon-certificate"></i> Promos</a></li>
                <li class="active"><i class="glyphicon glyphicon-user"></i> Students</li>
            </ol>
        </div>
    </div>

    <div class="">
        <table id="studentlist" class="table table-bordered table-hover table-striped tablesorter table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (StudentModel student in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("View", "Student", new { id = student.Id })">@student.LastName, @student.FirstName @student.MiddleName</a>
                        </td>
                        <td>
                            <div class="btn-group">
                                <a href="@Url.Action("Edit", "Student", new { id = student.Id })"
                                    class="studentlisttooltop btn btn-xs btn-info" data-placement="top"
                                    title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
