@using Bennett.AbroadAdvisor.Models;

@model LoginModel

@{
    // http://support.appharbor.com/kb/tips-and-tricks/application-server-ips-ec2-configuration
    // https://www.siteloader.net/login
    // http://tidy.eideus.com/
    
    Layout = null;
    ViewBag.Title = "AbroadAdvisor";
}

<!doctype html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/bundles/css")
    <style>
        .login-form {
            width: 310px;
        }
        .login-form h2 {
            font-weight: 100;
        }
    </style>
</head>
<body>

    <div class="center-block login-form">
        <div class="text-center">
            <h2>@ViewBag.Title</h2>
        </div>

        @using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "form-signin", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <div class="form-group">
                @Html.TextBoxFor(u => u.UserName, new { @class = "form-control", placeholder = "User name" })
            </div>

            <div class="form-group">
                @Html.PasswordFor(u => u.Password, new { @class = "form-control", placeholder = "Password" })
            </div>

            <button type="submit" class="btn btn-primary btn-block btn-lg">Sign in</button>
        }
    </div>

    @Scripts.Render("~/bundles/js")

    <script>
        $(function () {
            $('input#UserName').select();
        });
    </script>
</body>
</html>
