@model Bennett.AbroadAdvisor.Models.LoginModel

@{
    // http://tidy.eideus.com/
    
    Layout = null;
    ViewBag.Title = "AbroadAdvisor";
}

<h2>@Request.UserHostAddress</h2>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    <style>
        .login {
            margin: 0 auto;
            max-width: 362px;
            border: 12px solid rgba(0, 0, 0, 0.45);
            border-radius: 5px;
            position: relative;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }
        .login-container {
            padding: 40px 30px 30px;
            margin: 0 auto;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>
<body>

    <div class="login">
        <div class="login-container clearfix">
            <div>
                @using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "form-signin", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                    <div class="input-group">
                        @Html.TextBoxFor(u => u.UserName, new { @class = "form-control", placeholder = "User name" })
                    </div>

                    <div class="input-group">
                        @Html.PasswordFor(u => u.Password, new { @class = "form-control", placeholder = "Password" })
                    </div>

                    <input type="submit" value="Sign in" class="btn btn-block" />
                }
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/js")

    <script>
        $(function () {
            $('input#UserName').select();
        });
    </script>
</body>
</html>
