@using Belletrix.Entity.ViewModel;

@model ActivityLogEditViewModel

@{
    ViewBag.Title = "Edit";
    
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;

    Guid sessionId = Guid.Parse(Request.Params["guid"]);
}

@section FooterScript {
    <script>
    $(function () {
        'use strict';

        Belletrix.ActivityLog.init(
            '@Url.Action("AddPerson", "ActivityLogPerson", new { guid = sessionId })',
            '@Url.Action("AddPersonId", "ActivityLogPerson")',
            '@Url.Action("RemovePersonId", "ActivityLogPerson")',
            '@sessionId');

        Belletrix.ActivityLog.initSession(
            '@Url.Action("StartSession", "ActivityLogPerson", new { guid = sessionId })',
            '@Html.Raw(Url.Action("PopuplateSession", "ActivityLogPerson", new { guid = sessionId, activityId = Model.Id }))');

        Belletrix.ActivityLog.initExistingParticipants(
            '@Url.Action("participantsInSession", "ActivityLogPerson", new { guid = sessionId })');
    });
</script>
}

@section Body {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Edit Activity</h1>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)
        @Html.Hidden("SessionId", sessionId)
        @Html.ValidationSummary()

        @Html.Partial("EditFieldsPartial")

        <div class="row">
            <div class="col-lg-12">
                <button type="submit" class="btn btn-default">Save Changes</button>
                @Html.ActionLink("Cancel", "List")
            </div>
        </div>
    }
}
