@using Belletrix.Web.Controllers;
@using Belletrix.Entity.Model;

@{
    Layout = null;
    const string siteTitle = "Belletrix";
    string pageTitle = (!String.IsNullOrEmpty(ViewBag.Title) ? ViewBag.Title + " | " : String.Empty) + siteTitle;
    UserModel user = Session["User"] as UserModel;
    const string sidebarLinkActiveClassName = "active";

    Dictionary<string, string> sidebarLinks = new Dictionary<string, string>()
    {
        { HomeController.ActivePageName, null },
        { StudentController.ActivePageName, null },
        { ExperienceController.ActivePageName, null },
        { PromoController.ActivePageName, null },
        { ActivityLogController.ActivePageName, null }
    };

    if (sidebarLinks.ContainsKey(ViewBag.ActivePage))
    {
        sidebarLinks[ViewBag.ActivePage] = sidebarLinkActiveClassName;
    }

    const string navbarCollapseClassName = "navbar-collapse";
}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="robots" content="noindex,nofollow" />
        <meta name="viewport" content="width=device-width" />
        <title>@pageTitle</title>
        @Styles.Render("~/bundles/css")
        @RenderSection("HeaderStyle", false)
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".@navbarCollapseClassName">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink(siteTitle, "Index", "Home", null, new { @class = "navbar-brand" })
                </div>

                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i>
                            @user.FirstName @user.LastName
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="@Url.Action("Edit", "User", new { id = user.Id })"><i class="glyphicon glyphicon-user"></i> Edit Profile</a></li>
                            @if (user.IsAdmin)
                            {
                                <li><a href="@Url.Action("List", "User")"><i class="glyphicon glyphicon-th-list"></i> User List</a></li>
                            }
                            <li class="divider"></li>
                            <li><a href="@Url.Action("Logoff", "User")"><i class="glyphicon glyphicon-off"></i> Log Out</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav @navbarCollapseClassName collapse">
                        <ul class="nav" id="side-menu">
                            <li><a href="@Url.Action("Index", "Home")" class="@sidebarLinks[HomeController.ActivePageName]"><i class="glyphicon glyphicon-dashboard"></i> Dashboard</a></li>
                            <li><a href="@Url.Action("List", "Student")" class="@sidebarLinks[StudentController.ActivePageName]"><i class="glyphicon glyphicon-th-list"></i> Students</a></li>
                            <li><a href="@Url.Action("List", "Experience")" class="@sidebarLinks[ExperienceController.ActivePageName]"><i class="glyphicon glyphicon-plane"></i> Experiences</a></li>
                            <li><a href="@Url.Action("List", "Promo")" class="@sidebarLinks[PromoController.ActivePageName]"><i class="glyphicon glyphicon-certificate"></i> Promos</a></li>
                            <li><a href="@Url.Action("List", "ActivityLog")" class="@sidebarLinks[ActivityLogController.ActivePageName]"><i class="glyphicon glyphicon-edit"></i> Activity Log</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div id="page-wrapper" style="min-height: 286px;">
                @RenderSection("Body", true)
            </div>
        </div>

        @Scripts.Render("~/bundles/js")
        @RenderSection("FooterScript", false)

        <script>
            $(function () {
                Belletrix.Common.initPinger('@Url.Action("Ping", "Home")');
                Belletrix.Common.UserFirstName = '@user.FirstName';
                Belletrix.Common.UserLastName = '@user.LastName';
            });
        </script>
    </body>
</html>
