@{
    Layout = null;
}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="robots" content="noindex,nofollow" />
        <meta name="viewport" content="width=device-width" />
        <title>Belletrix Promo</title>
        @Styles.Render("~/bundles/css")
        @RenderSection("HeaderStyle", false)
    </head>
    <body>
        @RenderSection("Body", true)
        @Scripts.Render("~/bundles/js")
        @RenderSection("FooterScript", false)

        <script>
            $(function () {
                Belletrix.Common.initPinger('@Url.Action("Ping", "Home")');
            });
        </script>
    </body>
</html>
