@using Bennett.AbroadAdvisor.Core;

@{
    Layout = null;
    string siteTitle = "AbroadAdvisor Promo";
    string pageTitle = siteTitle;
    bool developmentEnvironment = DeploymentEnvironment.IsDevelopment;

    if (!DeploymentEnvironment.IsProduction)
    {
        pageTitle += String.Format(" ({0})", DeploymentEnvironment.Enviroment);
    }
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="viewport" content="width=device-width" />
    <title>@pageTitle</title>
    @Styles.Render("~/bundles/css")
    @RenderSection("HeaderStyle", false)
</head>
<body>
    @RenderSection("Body", true)
    @Scripts.Render("~/bundles/js")
    @RenderSection("FooterScript", false)

    <script>
        $(function () {
            Bennett.AbroadAdvisor.initPinger('@Url.Action("Ping", "Home")');
        });
    </script>
</body>
</html>
