@using Bennett.AbroadAdvisor.Models;

@model StudentModel

@{
    bool addingStudent = Model == null || Model.Id == default(int);
    ViewBag.Title = addingStudent ? "Add" : "Edit";
    string submitButtonText = addingStudent ? "Add Student Profile" : "Save Changes";
}

@section FooterScript {
    <script>
        $(function () {
            $.each(['#DateOfBirth', '#InitialMeeting'], function (i, val) {
                $(val).addClass('form-control');
                $(val).datepicker({
                    format: 'm/d/yyyy'
                });
            });
            $('.multiselect').multiselect({
                numberDisplayed: 1,
                buttonContainer: '<div class="button-default" />'
            });
        });
    </script>
}

@section Body {
    <div class="row">
        <div class="col-lg-12">
            <h1>@ViewBag.Title Student</h1>
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li><a href="@Url.Action("List", "Student")"><i class="fa fa-users"></i> Students</a></li>
                <li class="active"><i class="fa fa-edit"></i> @ViewBag.Title Student</li>
            </ol>
        </div>
    </div>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Personal Information</h3>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group has-error">
                                    <label>Full Name</label>
                                    @Html.TextBoxFor(s => s.FirstName, new { @class = "form-control", placeholder = "First" })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    @Html.TextBoxFor(s => s.MiddleName, new { @class = "form-control", placeholder = "Middle" })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group has-error">
                                    <label>&nbsp;</label>
                                    @Html.TextBoxFor(s => s.LastName, new { @class = "form-control", placeholder = "Last" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    @Html.LabelFor(s => s.StreetAddress)
                                    @Html.TextBoxFor(s => s.StreetAddress, new { @class = "form-control" })
                                    @Html.TextBoxFor(s => s.StreetAddress2, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.TextBoxFor(s => s.City, new { @class = "form-control", placeholder = "City" })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    @Html.TextBoxFor(s => s.State, new { @class = "form-control", placeholder = "State" })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    @Html.TextBoxFor(s => s.PostalCode, new { @class = "form-control", placeholder = "Postal Code" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(s => s.Citizenship)
                            @Html.DropDownListFor(s => s.Citizenship, ViewBag.Countries as SelectList, "Please Select", new { @class = "form-control" })
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(s => s.SelectedLanguages)
                                    @Html.ListBoxFor(s => s.SelectedLanguages, new MultiSelectList(ViewBag.Languages, "Id", "Name"), new { @class = "multiselect", multiple = "multiple" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(s => s.SelectedDesiredLanguages)
                                    @Html.ListBoxFor(s => s.SelectedDesiredLanguages, new MultiSelectList(ViewBag.Languages, "Id", "Name"), new { @class = "multiselect", multiple = "multiple" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(s => s.DateOfBirth)
                                    @Html.EditorFor(s => s.DateOfBirth)
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(s => s.InitialMeeting)
                                    @Html.EditorFor(s => s.InitialMeeting)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Student Information</h3>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(s => s.StudentId)
                                    @Html.TextBoxFor(s => s.StudentId, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(s => s.Gpa)
                                    @Html.TextBoxFor(s => s.Gpa, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(s => s.EnteringYear)
                                    @Html.DropDownListFor(s => s.EnteringYear, ViewBag.EnteringYears as SelectList, "Please Select", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(s => s.GraduatingYear)
                                    @Html.DropDownListFor(s => s.GraduatingYear, ViewBag.GraduatingYears as SelectList, "Please Select", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(s => s.Classification)
                                    @Html.DropDownListFor(s => s.Classification, ViewBag.Classifications as SelectList, "Please Select", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(s => s.SelectedMajors)
                                    @Html.ListBoxFor(s => s.SelectedMajors, new MultiSelectList(ViewBag.AvailableMajors, "Id", "Name"), new { @class = "multiselect", multiple = "multiple" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(s => s.SelectedMinors)
                                    @Html.ListBoxFor(s => s.SelectedMinors, new MultiSelectList(ViewBag.AvailableMinors, "Id", "Name"), new { @class = "multiselect", multiple = "multiple" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(s => s.PellGrantRecipient)
                                    @Html.DropDownListFor(s => s.PellGrantRecipient, new SelectList(
                                        new[]
                                        {
                                            new { Value = false, Text = "No" },
                                            new { Value = true, Text = "Yes" }
                                        },
                                        "Value",
                                        "Text",
                                        Model), "Please Select", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(s => s.HasPassport)
                                    @Html.DropDownListFor(s => s.HasPassport, new SelectList(
                                        new[]
                                        {
                                            new { Value = false, Text = "No" },
                                            new { Value = true, Text = "Yes" }
                                        },
                                        "Value",
                                        "Text",
                                        Model), "Please Select", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(s => s.LivingOnCampus)
                                    @Html.DropDownListFor(s => s.LivingOnCampus, new SelectList(
                                        new[]
                                        {
                                            new { Value = true, Text = "On-Campus" },
                                            new { Value = false, Text = "Off-Campus" }
                                        },
                                        "Value",
                                        "Text",
                                        Model), "Please Select", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(s => s.EnrolledFullTime)
                                    @Html.DropDownListFor(s => s.EnrolledFullTime, new SelectList(
                                        new[]
                                        {
                                            new { Value = true, Text = "Full-time Student" },
                                            new { Value = false, Text = "Part-time Student" }
                                        },
                                        "Value",
                                        "Text",
                                        Model), "Please Select", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Contact Information</h3>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(s => s.PhoneNumber)
                                    @Html.TextBoxFor(s => s.PhoneNumber, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(s => s.CellPhoneNumber)
                                    @Html.TextBoxFor(s => s.CellPhoneNumber, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(s => s.CampusEmail)
                            @Html.TextBoxFor(s => s.CampusEmail, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(s => s.AlternateEmail)
                            @Html.TextBoxFor(s => s.AlternateEmail, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-default">@submitButtonText</button>
    }
}
