@using Bennett.AbroadAdvisor.Models;

@model StudentModel

@{
    ViewBag.Title = "Edit";

    IEnumerable<int> studyAbroadCountries = Model.StudyAbroadCountry;
    IEnumerable<int> studyAbroadYears = Model.StudyAbroadYear;
    IEnumerable<int> studyAbroadPeriods = Model.StudyAbroadPeriod;
}

@section FooterScript {
    <script>
        $(function () {
            Bennett.AbroadAdvisor.Student.initStudentAddEdit();
            Bennett.AbroadAdvisor.Student.addStudyAbroadRows(
                [@String.Join(",", studyAbroadCountries)],
                [@String.Join(",", studyAbroadYears)],
                [@String.Join(",", studyAbroadPeriods)]
            );

            $('a[href="#studyabroadtab"]').on('show.bs.tab', function (e) {
                $.get('@Url.Action("StudyAbroad", new { id = Model.Id })', function (data) {
                    $('#studyabroadtab').html(data);
                });
            });
        });
    </script>
}

@section Body {
    <div class="row">
        <div class="col-lg-12">
            <h1>@ViewBag.Title Student</h1>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="active"><a href="#profiletab" data-toggle="tab">Profile</a></li>
        <li><a href="#studyabroadtab" data-toggle="tab">Study Abroad</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="profiletab">

            @using (Html.BeginForm(null, null, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Personal Information</h3>
                            </div>

                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group has-error">
                                            <label>Full Name</label>
                                            @Html.TextBoxFor(s => s.FirstName, new { @class = "form-control", placeholder = "First" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>&nbsp;</label>
                                            @Html.TextBoxFor(s => s.MiddleName, new { @class = "form-control", placeholder = "Middle" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group has-error">
                                            <label>&nbsp;</label>
                                            @Html.TextBoxFor(s => s.LastName, new { @class = "form-control", placeholder = "Last" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(s => s.Citizenship)
                                            @Html.DropDownListFor(s => s.Citizenship, ViewBag.Countries as SelectList, "Please Select", new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(s => s.SelectedLanguages)
                                            @Html.ListBoxFor(s => s.SelectedLanguages, new MultiSelectList(ViewBag.Languages, "Id", "Name"), new { @class = "multiselect", multiple = "multiple" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(s => s.DateOfBirth)
                                            @Html.EditorFor(s => s.DateOfBirth)
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(s => s.InitialMeeting)
                                            @Html.EditorFor(s => s.InitialMeeting)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Study Abroad</h3>
                            </div>

                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            @Html.LabelFor(s => s.SelectedDesiredLanguages)
                                            @Html.ListBoxFor(s => s.SelectedDesiredLanguages, new MultiSelectList(ViewBag.Languages, "Id", "Name"), new { @class = "multiselect", multiple = "multiple" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            @Html.LabelFor(s => s.StudyAbroadCountry)
                                            @Html.DropDownGroupList("StudyAbroadCountry", ViewBag.StudyAbroadPlaces as IEnumerable<GroupedSelectListItem>, "Please Select", new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            @Html.LabelFor(s => s.StudyAbroadYear)
                                            @Html.DropDownListFor(s => s.StudyAbroadYear, ViewBag.StudyAbroadYears as SelectList, "Please Select", new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            @Html.LabelFor(s => s.StudyAbroadPeriod)
                                            @Html.DropDownListFor(s => s.StudyAbroadPeriod, new SelectList(ViewBag.StudyAbroadSemesters, "Id", "Name"), "Please Select", new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-1">
                                        <div class="form-group" id="studyAbroadRowRemovals">
                                            <label>&nbsp;</label>
                                            <label>&nbsp;</label>
                                        </div>
                                        <div class="form-group reducePadding">&nbsp;</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <p class="help-block text-right"><a href="" id="studyAbroadDestinations"><i class="fa fa-plus-circle"></i> Another Destination</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Student Information</h3>
                            </div>

                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(s => s.StudentId)
                                            @Html.TextBoxFor(s => s.StudentId, new { @class = "form-control", type = "number" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(s => s.Gpa)
                                            @Html.TextBoxFor(s => s.Gpa, new { @class = "form-control", type = "number", step = 0.01 })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(s => s.Classification)
                                            @Html.DropDownListFor(s => s.Classification, ViewBag.Classifications as SelectList, "Please Select", new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(s => s.GraduatingYear)
                                            @Html.DropDownListFor(s => s.GraduatingYear, ViewBag.GraduatingYears as SelectList, "Please Select", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(s => s.SelectedMajors)
                                            @Html.ListBoxFor(s => s.SelectedMajors, new MultiSelectList(ViewBag.AvailableMajors, "Id", "Name"), new { @class = "multiselect", multiple = "multiple" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(s => s.SelectedMinors)
                                            @Html.ListBoxFor(s => s.SelectedMinors, new MultiSelectList(ViewBag.AvailableMinors, "Id", "Name"), new { @class = "multiselect", multiple = "multiple" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(s => s.PellGrantRecipient)
                                            @Html.DropDownListFor(s => s.PellGrantRecipient, new SelectList(
                                                new[]
                                                {
                                                    new { Value = false, Text = "No" },
                                                    new { Value = true, Text = "Yes" }
                                                },
                                                "Value",
                                                "Text",
                                                Model), "Please Select", new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(s => s.HasPassport)
                                            @Html.DropDownListFor(s => s.HasPassport, new SelectList(
                                                new[]
                                                {
                                                    new { Value = false, Text = "No" },
                                                    new { Value = true, Text = "Yes" }
                                                },
                                                "Value",
                                                "Text",
                                                Model), "Please Select", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(s => s.LivingOnCampus)
                                            @Html.DropDownListFor(s => s.LivingOnCampus, new SelectList(
                                                new[]
                                                {
                                                    new { Value = true, Text = "On-Campus" },
                                                    new { Value = false, Text = "Off-Campus" }
                                                },
                                                "Value",
                                                "Text",
                                                Model), "Please Select", new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(s => s.EnrolledFullTime)
                                            @Html.DropDownListFor(s => s.EnrolledFullTime, new SelectList(
                                                new[]
                                                {
                                                    new { Value = true, Text = "Full-time Student" },
                                                    new { Value = false, Text = "Part-time Student" }
                                                },
                                                "Value",
                                                "Text",
                                                Model), "Please Select", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            @Html.LabelFor(s => s.PhiBetaDeltaMember)
                                            @Html.DropDownListFor(s => s.PhiBetaDeltaMember, new SelectList(
                                                new[]
                                                {
                                                    new { Value = false, Text = "No" },
                                                    new { Value = true, Text = "Yes" }
                                                },
                                                "Value",
                                                "Text",
                                                Model), "Please Select", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Contact Information</h3>
                            </div>

                            <div class="panel-body">
                                <div class="form-group">
                                    @Html.LabelFor(s => s.PhoneNumber)
                                    @Html.TextBoxFor(s => s.PhoneNumber, new { @class = "form-control", type = "number" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(s => s.CampusEmail)
                                    @Html.EditorFor(s => s.CampusEmail)
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(s => s.AlternateEmail)
                                    @Html.EditorFor(s => s.AlternateEmail)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-default">Save Changes</button>
            }
        </div>

        <div class="tab-pane" id="studyabroadtab">
            <div class="text-center"><i class="fa fa-spinner fa-3x fa-spin" style="display: inline-block;"></i></div>
        </div>
    </div>
}
