@using Bennett.AbroadAdvisor.Core;
@using Bennett.AbroadAdvisor.Models;

@model StudentModel

@{
    ViewBag.Title = "View";
}

@section Body {
    <div class="row">
        <div class="col-lg-8">

        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <address>
                        @if (Model.Classification.HasValue)
                        {
                            @((ViewBag.Classifications as SelectList).Where(c => c.Value == Model.Classification.Value.ToString()).First().Text)
                            <br />
                        }
                        <strong class="h2">@Model.FirstName @Model.MiddleName @Model.LastName</strong>
                        @if (!String.IsNullOrEmpty(Model.CampusEmail))
                        {
                            <br />
                            <a href="mailto:@Model.CampusEmail">@Model.CampusEmail</a>
                        }
                        @if (!String.IsNullOrEmpty(Model.AlternateEmail))
                        {
                            <br />
                            <a href="mailto:@Model.AlternateEmail">@Model.AlternateEmail</a>
                        }
                    </address>

                    <address>
                        @if (!String.IsNullOrEmpty(Model.StreetAddress))
                        {
                            @Model.StreetAddress
                            if (!String.IsNullOrEmpty(Model.StreetAddress2))
                            {
                                <br />
                                @Model.StreetAddress2
                            }
                            <br />
                            @Model.City@:, @Model.State @Model.PostalCode
                        }
                        
                        @if (!String.IsNullOrEmpty(Model.PhoneNumber) || !String.IsNullOrEmpty(Model.CellPhoneNumber))
                        {
                            <br />
                            if (!String.IsNullOrEmpty(Model.PhoneNumber))
                            {
                                <abbr title="Phone">P:</abbr>
                                if (Request.Browser.CanInitiateVoiceCall)
                                {
                                    <a href="tel:@Model.PhoneNumber">@Formatter.PhoneNumber(Model.PhoneNumber)</a>
                                }
                                else
                                {
                                    @Formatter.PhoneNumber(Model.PhoneNumber)
                                }
                            }
                            if (!string.IsNullOrEmpty(Model.PhoneNumber) && !String.IsNullOrEmpty(Model.CellPhoneNumber))
                            {
                                    <br />
                            }
                            if (!String.IsNullOrEmpty(Model.CellPhoneNumber))
                            {
                                <abbr title="Cell">C:</abbr>
                                if (Request.Browser.CanInitiateVoiceCall)
                                {
                                    <a href="tel:@Model.CellPhoneNumber">@Formatter.PhoneNumber(Model.CellPhoneNumber)</a>
                                }
                                else
                                {
                                    @Formatter.PhoneNumber(Model.CellPhoneNumber)
                                }
                            }
                        }
                    </address>
                </div>
            </div>
        </div>
    </div>
}
