@using Belletrix.Entity.ViewModel;
@using StackExchange.Profiling;

@model LoginViewModel

@{
    // http://support.appharbor.com/kb/tips-and-tricks/application-server-ips-ec2-configuration
    // https://www.siteloader.net/login
    // http://tidy.eideus.com/

    Layout = null;
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    const string pageTitle = "Belletrix";
}

<!doctype html>
<html>
<head>
    <title>@pageTitle</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/bundles/css")
    <style>
        .login-form {
            width: 310px;
        }
        .login-form h2 {
            font-weight: 100;
        }
    </style>
</head>
<body>

    <div class="center-block login-form">
        <div class="text-center">
            <h2>@ViewBag.Title</h2>
        </div>

        @using (Html.BeginForm(null, null,
            new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
            new { @class = "form-signin", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.TextBoxFor(u => u.UserName, new { @class = "form-control", placeholder = "User name", autofocus = "autofocus" })
                @Html.ValidationMessageFor(u => u.UserName)
            </div>

            <div class="form-group">
                @Html.PasswordFor(u => u.Password, new { @class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(u => u.Password)
            </div>

            <button type="submit" class="btn btn-primary btn-block btn-lg">Sign in</button>
        }
    </div>

    @Scripts.Render("~/bundles/js")
    <script>
        $(Belletrix.Common.singleSubmit);
    </script>
    @MiniProfiler.RenderIncludes()
    @GeneralLayout.RenderAnalyticsTag()

</body>
</html>
