@using Belletrix.Entity.ViewModel;

@model MigratePasswordViewModel

@{
    Layout = null;
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    const string pageTitle = "Belletrix";
}

<!doctype html>
<html>
    <head>
        <title>@pageTitle</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        @Styles.Render("~/bundles/css")
        <style>
            .login-form {
                width: 310px;
            }

                .login-form h2 {
                    font-weight: 100;
                }
        </style>
    </head>
    <body>

        <div class="center-block login-form">
            <div class="text-center">
                <h2>Migrate Password</h2>
            </div>

            <div class="alert alert-info" role="alert">
                <p>
                    The login process for Belletrix has changed. Please use
                    the form below to migrate.
                </p>
                <p>You can reuse your current password if you wish.</p>
            </div>

            @using (Html.BeginForm(null, null,
                    FormMethod.Post,
                    new { @class = "form-signin", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(x => x.Id)

                <div class="form-group">
                    @Html.LabelFor(x => x.CurrentPassword)
                    @Html.PasswordFor(x => x.CurrentPassword, new { @class = "form-control", placeholder = "Current password", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(x => x.CurrentPassword)
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.NewPassword)
                    @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control", placeholder = "New password" })
                    @Html.ValidationMessageFor(x => x.NewPassword)
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.NewPasswordConfirm)
                    @Html.PasswordFor(x => x.NewPasswordConfirm, new { @class = "form-control", placeholder = "Confirm" })
                    @Html.ValidationMessageFor(x => x.NewPasswordConfirm)
                </div>

                <button type="submit" class="btn btn-primary btn-block btn-lg">Update</button>
            }
        </div>

        @Scripts.Render("~/bundles/js")
        <script>
            $(Belletrix.Common.singleSubmit);
        </script>
    </body>
</html>
