@using Belletrix.Entity.Enum;
@using Belletrix.Entity.Model;

@model IEnumerable<ActivityLogModel>

@{
    ViewBag.Title = "List";
}

@section FooterScript {
    <script>
        $(function () {
            'use strict';
            $('#activitylist').dataTable({
                columns: [
                    null,
                    null,
                    null,
                    null,
                    { orderable: false }
                ]
            });
        });
    </script>
}

@section Body {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Activities Logged
                <small>@Model.Count().ToString("N0") total</small>
                <small>
                    <span class="pull-right small">
                        <a href="@Url.Action("Add", "ActivityLog", new { guid = Guid.NewGuid() })"><i class="glyphicon glyphicon-plus-sign"></i> Add Activity</a>
                    </span>
                </small>
            </h1>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-lg-12">
            <table id="activitylist" class="table table-bordered table-hover table-striped tablesorter table-condensed">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Organizers</th>
                        <th>Dates</th>
                        <th>Types</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ActivityLogModel activity in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(activity.Title, "View", new { id = activity.Id })</td>
                            <td>@activity.Organizers</td>
                            <td>
                                @if (activity.StartDate.Date == activity.EndDate.Date)
                                {
                                    @activity.StartDate.ToShortDateString()
                                }
                                else
                                {
                                    @activity.StartDate.ToShortDateString()
                                    @:-
                                    @activity.EndDate.ToShortDateString()
                                }
                            </td>
                            <td>
                                @foreach (ActivityLogTypes type in activity.Types)
                                {
                                    int i = (int)type % ViewBag.TypeLabels.Count;
                                    string labelClassName = ViewBag.TypeLabels.ContainsKey(i) ? ViewBag.TypeLabels[i] : ViewBag.TypeLabels[0];
                                    <span class="label @labelClassName">@type</span>
                                }
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a href="@Url.Action("Edit", "ActivityLog", new { id = activity.Id, guid = Guid.NewGuid() })"
                                       class="btn btn-xs btn-info" data-placement="top"
                                       title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
