@using Belletrix.Core;
@using Belletrix.Entity.Enum;
@using Belletrix.Entity.Model;
@using Belletrix.Entity.ViewModel;

@model ActivityLogViewViewModel

@{
    ViewBag.Title = Model.ActivityLog.Title + " Activity Log";
}

@section Body {
    <div class="row">
        <div class="col-lg-12 page-header">
            <div class="btn-group pull-right">
                <a href="@Url.Action("Edit", "ActivityLog", new { id = Model.ActivityLog.Id, guid = Guid.NewGuid() })"
                   class="btn btn-xs btn-info" data-placement="top"
                   title="Edit"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
            </div>

            <h2>@Model.ActivityLog.Title</h2>

            <p>
                @foreach (ActivityLogTypes type in Model.ActivityLog.Types)
                {
                    <span class="label @Formatter.ActivityLogLabel(type, ViewBag.TypeLabels)">
                        @type.GetDisplayName()
                    </span>
                }
            </p>

            @if (!string.IsNullOrEmpty(Model.ActivityLog.Title2))
            {
                <p>
                    <strong>@Model.ActivityLog.Title2</strong>

                    @if (!string.IsNullOrEmpty(Model.ActivityLog.Title3))
                    {
                        <br />@Model.ActivityLog.Title3
                    }
                </p>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-12">
                    <span class="glyphicon glyphicon-time"></span>
                    Created
                    @Model.ActivityLog.Created.ToShortDateString()
                    @Model.ActivityLog.Created.ToShortTimeString()
                    by
                    @Model.CreatedBy.FirstName
                    @Model.CreatedBy.LastName
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-unstyled list-inline">
                        @if (Model.ActivityLog.StartDate == Model.ActivityLog.EndDate)
                        {
                            <li class="text-uppercase text-muted"><strong>On:</strong></li>
                            <li>@Model.ActivityLog.StartDate.ToShortDateString()</li>
                        }
                        else
                        {
                            <li class="text-uppercase text-muted"><strong>Starting:</strong></li>
                            <li>@Model.ActivityLog.StartDate.ToShortDateString()</li>
                            <li class="text-uppercase text-muted"><strong>Ending:</strong></li>
                            <li>@Model.ActivityLog.EndDate.ToShortDateString()</li>
                        }
                    </ul>

                    @if (!string.IsNullOrEmpty(Model.ActivityLog.Location))
                    {
                        <address>
                            @Model.ActivityLog.Location
                            @if (Model.ActivityLog.OnCampus.HasValue && Model.ActivityLog.OnCampus.Value)
                            {
                                <span class="label label-success">On Campus</span>
                            }
                        </address>
                    }
                    else if (Model.ActivityLog.OnCampus.HasValue && Model.ActivityLog.OnCampus.Value)
                    {
                        <span class="label label-success">On Campus</span>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h4>Organizers</h4>
                    @Model.ActivityLog.Organizers
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h4>People</h4>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">Participants</div>
                <div class="panel-body">
                    @if (Model.Participants != null && Model.Participants.Any())
                    {
                        <ul class="list-group">
                            @foreach (ActivityLogParticipantModel particpant in Model.Participants)
                            {
                                <li class="list-group-item">
                                    <span class="badge">@particpant.Type</span>
                                    <h4 class="list-group-item-heading">@particpant.Person.FullName</h4>

                                    @if (!string.IsNullOrEmpty(particpant.Person.Description))
                                    {
                                        <p>@particpant.Person.Description</p>
                                    }

                                    <p>
                                        @if (!string.IsNullOrEmpty(particpant.Person.Email))
                                        {
                                            <span class="glyphicon glyphicon-envelope"></span>
                                            <a href="mailto:@particpant.Person.Email">@particpant.Person.Email</a>
                                            <br />
                                        }

                                        @if (!string.IsNullOrEmpty(particpant.Person.PhoneNumber))
                                        {
                                            <span class="glyphicon glyphicon-earphone"></span>
                                            if (Request.Browser.CanInitiateVoiceCall)
                                            {
                                                <a href="tel:@particpant.Person.PhoneNumber">@particpant.Person.PhoneNumber</a>
                                            }
                                            else
                                            {
                                                @particpant.Person.PhoneNumber
                                            }
                                        }
                                    </p>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Notes</div>
                <div class="panel-body">
                    @Model.ActivityLog.Notes
                </div>
            </div>
        </div>
    </div>
}
