@using Belletrix.Core;
@using Belletrix.Entity.Enum;
@using Belletrix.Entity.Model;
@using Belletrix.Entity.ViewModel;

@model ActivityLogViewViewModel

@{
    ViewBag.Title = Model.ActivityLog.Title + " Activity Log";
}

@section Body {
    <div class="row">
        <div class="col-lg-12 page-header">
            <div class="pull-left text-muted">
                <span class="glyphicon glyphicon-time"></span>
                Created
                @Model.ActivityLog.Created.ToShortDateString()
                @Model.ActivityLog.Created.ToShortTimeString()
                by
                @Model.CreatedBy.FirstName
                @Model.CreatedBy.LastName
            </div>
            <div class="btn-group pull-right">
                <a href="@Url.Action("Edit", "ActivityLog", new { id = Model.ActivityLog.Id, guid = Guid.NewGuid() })"
                   class="btn btn-xs btn-info" data-placement="top"
                   title="Edit"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
            </div>

            <br />

            <h2>@Model.ActivityLog.Title</h2>

            <p>
                @foreach (ActivityLogTypes type in Model.ActivityLog.Types)
                {
                    <span class="label @Formatter.ActivityLogLabel(type, ViewBag.TypeLabels)">
                        @type.GetDisplayName()
                    </span>
                }
            </p>

            @if (!string.IsNullOrEmpty(Model.ActivityLog.Title2))
            {
                <p>
                    <strong>@Model.ActivityLog.Title2</strong>

                    @if (!string.IsNullOrEmpty(Model.ActivityLog.Title3))
                    {
                        <br />@Model.ActivityLog.Title3
                    }
                </p>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-unstyled list-inline">
                        @if (Model.ActivityLog.StartDate == Model.ActivityLog.EndDate)
                        {
                            <li class="text-uppercase text-muted"><strong>On:</strong></li>
                            <li>@Model.ActivityLog.StartDate.ToShortDateString()</li>
                        }
                        else
                        {
                            <li class="text-uppercase text-muted"><strong>Starting:</strong></li>
                            <li>@Model.ActivityLog.StartDate.ToShortDateString()</li>
                            <li class="text-uppercase text-muted"><strong>Ending:</strong></li>
                            <li>@Model.ActivityLog.EndDate.ToShortDateString()</li>
                        }
                    </ul>

                    @if (!string.IsNullOrEmpty(Model.ActivityLog.Location))
                    {
                        <address>
                            @Model.ActivityLog.Location
                            @if (Model.ActivityLog.OnCampus.HasValue && Model.ActivityLog.OnCampus.Value)
                            {
                                <span class="label label-success">On Campus</span>
                            }
                        </address>
                    }
                    else if (Model.ActivityLog.OnCampus.HasValue && Model.ActivityLog.OnCampus.Value)
                    {
                        <span class="label label-success">On Campus</span>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3>Organizers</h3>
                    @Model.ActivityLog.Organizers
                    <br />
                </div>
            </div>
        </div>
        <div class="col-lg-4">
        </div>
    </div>
    @if (Model.Participants != null && Model.Participants.Any())
    {
        <div class="row">
            <div class="col-lg-12">
                @foreach (var participants in Model.Participants.GroupBy(x => x.Type))
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">@participants.Key<text>s</text></div>
                        <div class="panel-body">
                            @foreach (ActivityLogParticipantModel participant in participants)
                            {
                                <div class="col-sm-4">
                                    <h4 class="media-heading">@participant.Person.FullName</h4>
                                    @if (!string.IsNullOrEmpty(participant.Person.Description))
                                    {
                                        <p>@participant.Person.Description</p>
                                    }

                                    <p>
                                        @if (!string.IsNullOrEmpty(participant.Person.Email))
                                        {
                                            <span class="glyphicon glyphicon-envelope"></span>
                                            <a href="mailto:@participant.Person.Email">@participant.Person.Email</a>
                                            <br />
                                        }

                                        @if (!string.IsNullOrEmpty(participant.Person.PhoneNumber))
                                        {
                                            <span class="glyphicon glyphicon-earphone"></span>
                                            if (Request.Browser.CanInitiateVoiceCall)
                                            {
                                                <a href="tel:@participant.Person.PhoneNumber">@Formatter.PhoneNumber(participant.Person.PhoneNumber)</a>
                                            }
                                            else
                                            {
                                                @Formatter.PhoneNumber(participant.Person.PhoneNumber)
                                            }
                                        }
                                    </p>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    <div class="row">
        <div class="col-lg-12">
            <h3>Notes</h3>
            <div style="white-space: pre-line">@Model.ActivityLog.Notes</div>
            <br /><br />
        </div>
    </div>
}
