@using Bennett.AbroadAdvisor.Models;

@model PromoModel

@{
    ViewBag.Title = "Add";
}

@section FooterScript {
    <script>
        $(function () {
            Bennett.AbroadAdvisor.Promo.init('@Url.Action("CheckUniqueName")', '#Code', '#codecheckresult');
            Bennett.AbroadAdvisor.singleSubmit();
        });
    </script>
}

@section HeaderStyle {
    <style>
        .right-inner-addon {
            position: relative;
        }
            .right-inner-addon input {
                padding-right: 30px;
            }
            .right-inner-addon i {
                position: absolute;
                right: 0;
                padding: 12px 25px;
                pointer-events: none;
            }
    </style>
}

@section Body {
    <div class="row">
        <div class="col-lg-8">
            <h1>Add New Promo</h1>
        </div>
    </div>

    @using (Html.BeginForm("Add", "Promo", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        
        <div class="form-group">
            @Html.LabelFor(p => p.Description, new { @class = "control-label col-lg-2" })

            <div class="col-lg-10">
                @Html.TextBoxFor(p => p.Description, new { @class = "form-control "})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(p => p.Code, new { @class = "control-label col-lg-2" })

            <div class="col-lg-10 right-inner-addon">
                <i class="fa fa-check" id="codecheckresult"></i>
                @Html.TextBoxFor(p => p.Code, new { @class = "form-control" })
            </div>
        </div>

        <button type="submit" class="btn btn-default disabled">Create Promo</button>
    }
}
