@using Bennett.AbroadAdvisor.Core;
@using Bennett.AbroadAdvisor.Models;

@model IEnumerable<PromoModel>

@{
    ViewBag.Title = "List";
}

@section FooterScript {
    <script>
        $(function () {
            'use strict';

            $('#promolist').dataTable();
        });
    </script>
}

@section Body {

    <div class="row">
        <div class="col-lg-8">
            <h1>Promos</h1>
        </div>
        <div class="col-lg-4 text-right">
            <a href="@Url.Action("Add", "Promo")"><i class="fa fa-plus-circle"></i> Create New Promo</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <p>
                Promos allow you to create student entry forms which talored
                for students to fill out. These pages do not require logging
                in. Please separate events into their own promos.
            </p>
        </div>
    </div>

    <div class="table-responsive">
        <table id="promolist" class="table table-bordered table-hover table-striped tablesorter table-condensed">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Creator</th>
                    <th>Created</th>
                    <th>Description</th>
                    <th>Students</th>
                    <th>Active</th>
                </tr>
            </thead>

            <tbody>
                @foreach (PromoModel promo in Model)
                {
                    int students = promo.Logs.Count();

                    <tr>
                        <td>@Html.ActionLink(promo.Code, "Info", new { id = promo.Id })</td>
                        <td>@promo.CreatedBy.FirstName @promo.CreatedBy.LastName</td>
                        <td>@DateTimeFilter.UtcToLocal(promo.Created)</td>
                        <td>@promo.Description</td>
                        <td>
                            @if (students > 0)
                            {
                                @Html.ActionLink(students.ToString("N0"), "Students", new { id = promo.Id })
                            }
                            else
                            {
                                @students
                            }
                        </td>
                        <td>
                            @if (promo.IsActive)
                            {
                                <i class="fa fa-check"></i>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
